<%- include("../partials/header") %>

    <h2><%= skill.skill %></h3>
    <h3>Unit: <%= skill.unit %></h3>
    <h3>Project: <%= skill.project ? skill.project : "n/a" %></h3>
    <h3>Project Link: <%= skill.projectLink ? skill.projectLink : "n/a" %></h3>
    <h3>Passed: <%= skill.passed ? "Yes" : "No" %></h3>
  
    <form 
    action="/skills/<%= skill.id %>?_method=DELETE" 
    method="POST"
    class="delete-form"
    >
    <button type="submit">Delete</button>
    </form>

    <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
    |
    <a href="/skills">Back to Skills</a>
    |
    <a href="/">Home</a>

<%- include("../partials/footer") %>
